@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar{
  width: 15vw;
  border-radius: 40px;
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border: solid 2px gray;
  background-color: rgba(128, 128, 128, 0.296);
}

.navbar > button{
  border-radius: 48px;
  height: 32px;
  text-align: center;
  padding: 4px 12px;
  transition: all 0.3s ease;
}


.navbar > button:hover{
  background-color: rgba(128, 128, 128, 0.596);
}

.vr{
  width: 2px;
  transform: translate(0, 15%);
  height: 75%;
  background-color: gray;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


.btn{
  transition: all 0.3s ease;
  cursor: pointer;
}

.scroll-container {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

.snap-start {
  scroll-snap-align: start;
}

.pagination {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
}

.dot.active {
  background-color: white;
}